
button:focus { outline: none; }

.plainButton {
    padding: 0;
    border: none;
    background: none;
}

.leftColumn {
    width: 90px;
    text-align: right;
    display: inline-block;
}

.rightColumn {
    width: 132px;
    text-align: left;
    display: inline-block;
    padding-left: 2px;
}

.smallFont {
	font-size: small;
}
.mediumFont {
	font-size: medium;
}
.largeFont {
	font-size: large;
}

.radioButtonLeft {
    margin: 0px 24px 0px 6px;
}
.radioButtonRight {
    margin: 0px 6px 0px 24px;
}
.radioButtonInner {
    margin: 0px 24px 0px 24px;
}

.rotate90 {
	-webkit-transform: rotate(90deg);
}

.rotate180 {
	-webkit-transform: rotate(180deg);
}

.centerText {
	text-align: center
}

*{
font-family: 'Open Sans', sans-serif;
}
.center-grey{
       background:#f2f2f2;
}
.slider{
	position: relative;
	padding:5px;
	width:610px;
	margin: auto;
	margin-top: 40px;
}
.slide{
	position:absolute;
	top:0;
	left:0;
	box-shadow: 0px 0px 15px #999;
}

.arrows{
	position: absolute;
	top: 10px;
	right: 20px;
}

.arrows img{
	height: 32px;
}

h1{
text-align: center;
padding: 10px;
font-size: 40px;
color: #222;
}
 
.slide.ng-hide-add, .slide.ng-hide-remove {
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;
  display:block!important;
}
 
.slide.ng-hide-add.ng-hide-add-active,.slide.ng-hide-remove {
  opacity:0;
}
 
.slide.ng-hide-add,.slide.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}

body {
	height: 100%;
}

.photoPageContainer {
    display: flex;
}

/*Photos section*/
.photosDiv {
    flex: 4;
    overflow-y: scroll;
    /*margin-left: 250px;*/
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    border: 1px solid silver;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
}

.wrap    {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.photoThumbsDiv {
    margin: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #f2f2f2;
    /*width: 110px;*/
    /*height:130px;*/
    /*min-width: 110px;*/
    /*max-height: 130px;*/
    background: #f2f2f2;
}

.thumbImg {
    /*width: 108px;*/
    /*height: 108px;*/
    padding: 4px;
}

/*Metadata sidebar*/
.metadata {
	flex: 1;
}

.photoMetadata {
}

.tagsSection {
    margin-left: 16px;
}

.tagsList {
    max-height: 100px;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}

.searchSection {
}

.tagsSubsection {
}

.datesSubsection {
}

/*@media (min-height: 700px)  {*/
	/*.photoPageContainer {*/
		/*max-height: 600px;*/
		/*display: flex;*/
	/*}*/
/*}*/
/*@media (min-height: 100px) and (max-height: 699px) {*/
	/*.photoPageContainer {*/
		/*max-height: 300px;*/
		/*display: flex;*/
	/*}*/
/*}*/



