 <!--<div style="position: fixed; top: 60px; z-index: 69;">-->
        <!--<label>Select tag:</label>-->
        <!--<select name="tags" id="tags" ng-model="selectedTag">-->
            <!--<option ng-repeat="tag in tags" value="{{tag}}">{{tag}}</option>-->
        <!--</select>-->
        <!--<button ng-click="tagPhotos();">-->
            <!--Tag Photos-->
        <!--</button>-->
        <!--<button ng-click="untagPhotos();">-->
            <!--Untag Photos-->
        <!--</button>-->
<!--</div>-->


 <div class="photosDiv" >
     <ul class="flex-container wrap">
         <li ng-repeat="thumb in playlistThumbs" class="flex-item mediaLibraryThumbDiv">
             <img ng-src="{{thumb.thumbUrl}}" class="mediaLibraryThumbImg" >
         </li>
     </ul>
 </div>


