<div class='photoPageContainer' ng-style="{maxHeight: photoPageContainerHeight + 'px'}">

    <div class="photosDiv">
        <ul class="flex-container wrap">
            <li ng-repeat="photo in photos" class="flex-item photoThumbsDiv">
                <img id="{{photo.dbId}}" ng-src="{{photo.thumbUrl}}" class="thumbImg" width="{{photo.width}}"
                     height="{{photo.height}}" ng-click="selectPhoto($event)">
            </li>
        </ul>
    </div>

    <div class="metadata">

        <h4>Metadata</h4>

        <div class="photoMetadata">

            <div>
                <span class="leftColumn smallFont">Name:</span>
                <span class="rightColumn smallFont">{{selectedPhoto.title}}</span>
            </div>

            <div>
                <span class="leftColumn smallFont">Dimensions:</span>
                <span class="rightColumn smallFont">{{selectedPhoto.dbPhoto.width}}x{{selectedPhoto.dbPhoto.height}}</span>
            </div>

            <div>
                <span class="leftColumn smallFont">Date taken:</span>
                <span class="rightColumn smallFont">{{selectedPhoto.dateTaken}}</span>
            </div>
        </div>

        <h4>Tags</h4>

        <div class="tagsSection">

            <ul class="tagsList">
                <h6 ng-repeat="tag in tags">{{tag}}</h6>
            </ul>

            <div>
                <div>
                    <input class="smallFont" type="text" id="tag" name="tag" ng-model="tagLabel" style="width: 140px;"
                           placeholder="Type the new tag" required>
                    <button type="button" class="smallFont" ng-click="addTag()">Add Tag</button>
                </div>
            </div>
        </div>

        <h4>Search</h4>

        <div class="searchSection">
            <span class="smallFont">{{searchExpression}}</span>

            <h5 class="metadataSubheading">Tags</h5>

            <div class="tagsSubsection">
                <div>
                    <select name="tags" id="tags" ng-model="addedTag" ng-options="tag for tag in tags"></select>
                    <button class="plainButton" type="button" ng-click="addTagToQuery()">+</button>
                    <button class="plainButton" type="button" ng-click="removeTagFromQuery()">-</button>
                </div>

                <div>
                    <div>
                        <span class="smallFont" style="margin-right: 4px;">Matches</span>
                        <label class="smallFont">
                            <input type="radio" ng-click="tagQueryOperatorUpdated()" ng-model="tagQueryOperator" style="margin: 0px 6px 0px 0px;" value="OR">Any tag
                        </label>

                        <label class="smallFont">
                            <input type="radio" ng-click="tagQueryOperatorUpdated()" ng-model="tagQueryOperator" style="margin: 0px 6px 0px 4px;" value="AND">All tags
                        </label>

                    </div>

                </div>
            </div>

            <h5 class="metadataSubheading">Dates</h5>

            <div class="datesSubsection">

                <div>
                    <label class="smallFont">
                        <input type="radio" ng-model="dateQueryType" style="margin: 0px 6px 0px 0px;" value="none">None
                    </label>

                    <label class="smallFont">
                        <input type="radio" ng-model="dateQueryType" style="margin: 0px 6px 0px 6px;" value="before">Before
                    </label>

                    <label class="smallFont">
                        <input type="radio" ng-model="dateQueryType" style="margin: 0px 6px 0px 6px;" value="after">After
                    </label>

                    <label class="smallFont">
                        <input type="radio" ng-model="dateQueryType" style="margin: 0px 6px 0px 6px;" value="on">On
                    </label>

                    <label class="smallFont">
                        <input type="radio" ng-model="dateQueryType" style="margin: 0px 6px 0px 6px;" value="between">Between
                    </label>

                </div>

                <div id="beforeDateDiv" ng-show="dateQueryType == 'before'">
                    <span style="display: inline-block; font-size: small; width: 40px;">Before</span>
                    <input class="smallFont" type="date" id="beforeDate" style="width: 130px;" ng-model="dateValue"
                           value="dateValue">
                </div>

                <div id="afterDateDiv" ng-show="dateQueryType == 'after'">
                    <span style="display: inline-block; font-size: small; width: 40px;">After</span>
                    <input class="smallFont" type="date" id="afterDate" style="width: 130px;" ng-model="dateValue"
                           value="dateValue">
                </div>

                <div id="onDateDiv" ng-show="dateQueryType == 'on'">
                    <span style="display: inline-block; font-size: small; width: 40px;">On</span>
                    <input class="smallFont" type="date" id="onDate" style="width: 130px;" ng-model="dateValue"
                           value="dateValue">
                </div>

                <div id="betweenDateDiv" ng-show="dateQueryType == 'between'">
                    <span style="display: inline-block; font-size: small;">Between</span>
                    <input class="smallFont" type="date" id="startDate" style="width: 130px;" ng-model="startDateValue"
                           value="startDateValue">
                    <span style="display: inline-block; font-size: small;">and</span>
                    <input class="smallFont" type="date" id="endDate" style="width: 130px;" ng-model="endDateValue"
                           value="endDateValue">
                </div>
            </div>

        </div>

        <div id="search">
            <button ng-click="search()" class="mediumFont">Search</button>
        </div>

    </div>

</div>

