<h1>Slide Shows</h1>
<h2>Build Query</h2>

<div>
    <h4>Tags</h4>
    <ul >
        <div ng-repeat="tagInQuery in tagsInQuery">
            <select name="tags" id="tags" ng-model="tagInQuery.tag" ng-options="tag for tag in tags"></select>
            <button ng-click="deleteTagFromQuery($index)" class="smallFont">Delete</button>
        </div>
    </ul>
</div>

<div id="addTagToQueryDiv">
    <button ng-click="addTagToQuery()" class="smallFont">Add tag to query</button>
</div>

<br>

<div>
    <h4>Date spec</h4>
</div>

<div>
    <label class="smallFont">
        <input type="radio" ng-model="dateQueryType" style="margin: 0px 6px 0px 0px;" value="none">None
    </label>

    <label class="smallFont">
        <input type="radio" ng-model="dateQueryType" style="margin: 0px 6px 0px 16px;" value="before">Before a date
    </label>

    <label class="smallFont">
        <input type="radio" ng-model="dateQueryType" style="margin: 0px 6px 0px 16px;" value="after">After a date
    </label>

    <label class="smallFont">
        <input type="radio" ng-model="dateQueryType" style="margin: 0px 6px 0px 16px;" value="on">On a date
    </label>

    <label class="smallFont">
        <input type="radio" ng-model="dateQueryType" style="margin: 0px 6px 0px 16px;" value="between">Between two dates
    </label>

</div>

<br>

<div>
    <button ng-click="addDate()" class="smallFont">Add date</button>
    <button ng-click="addDateRange()" class="smallFont">Add date range</button>
</div>


<br>
<br>

<div id="loadQuery">
    <button ng-click="loadQuery()" class="mediumFont">Load query</button>
</div>

<br>

<div id="saveQuery">
    <button ng-click="saveQuery()" class="mediumFont">Save query</button>
</div>

<br>

<div id="launchSlideShow">
    <button ng-click="launchSlideShow()">Launch Slide Show</button>
</div>
